* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}


#canv {
  touch-action: none;
  margin-left: 0.5rem;
  cursor: crosshair;
  border: 4px solid #ffbd59;
}
 